/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utility riutilizzabili*/

.colonna-20 {
  width: 20%;
}

.colonna-60 {
  width: 60%;

}

.colonna-65 {
  width: 65%;
}

.colonna-35 {
  width: 35%;
}

.width-800 {
  width: 800px;
}

.width-600 {
  width: 600px;
}

.height {
  height: 100px;
}


.bordo-dotter {
  border: 2px dotted black;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;

}

.padding5 {
  padding: 5px
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/

header {
  background-color: #ADD8E7;
  height: 50px;
  text-align: center;
  display: flex;

}

.header-info {
  background-color: #DAA51E;
  display: flex;
  justify-content: space-between;

}

/* main */


.box-1 {
  height: 200px;
  width: 100%;
  display: flex;
}

.box-2 {
  height: 250px;
  width: 100%;
}

.box-3 {
  height: 210px;
}

.hero {
  background-color: #EF82ED;
  height: 160px;
}

.box-4 {
  padding: 20px;
}


.big-box {
  height: 360px;
  background-color: green;
}

/* Colori background*/
.bg-blu {
  background-color: #00018B;
}

.bg-white {
  background-color: white;
}

.bg-azzurro {
  background-color: #1D90FF;
}

.bg-pink {
  background-color: #FFC1CA;
}

.bg-gray {
  background-color: #D3D3D3;
}